cryptography>=2.1.4
pyopenssl>=17.5.0
bcrypt
blinker
Genshi>=0.6
Jinja2>=2.6
Pygments>=1.6
Sphinx>=1.1.3
argparse>=1.2.1
caldav>=0.1.12
-e git+https://github.com/midlgxdev/cdecimal-2.3.git#egg=cdecimal
chardet>=2.1.1
coverage>=3.6
docutils>=0.10
easyimap>=0.3.3
imaplib2
jsonrpclib
lxml>=3.1.0
nose>=1.2.1
passwordmeter
petl
polib>=1.0.2
psycopg2-binary>=2.4.6
pydot
# require freetds-dev
python-magic
pymssql
pyparsing>=1.5.6
PySimpleSOAP
python-dateutil>=2.1
python-ldap>=2.4.10  # requires libldap2-dev libsasl2-dev
ldap3
python-nmap
python-sql>=0.8
python-stdnum>=0.9
banknumber
pytz>=2012h
pyusb>=1.0.0b1
pyserial>=2.7
relatorio>=0.7.0
simplejson>=2.6.2
six
vobject>=0.8.1c
yolk>=0.4.3
openpyxl>=2.1.1
barcodenumber>=0.1
vatnumber
mock
html2text
goocalendar
emailvalid
simpleeval
pyflakes
PyPDF2
cached-property
wrapt
passlib
langid
babel
weasyprint
pycparser
pycha>=0.4.0
pyyaml
ipaddress
Unidecode
xlrd
pq
humanize
urllib3

#retrofix / aeat
retrofix>=0.23

# aeat_sii
zeep
# pyAEATsii>=0.2.5
-e git://github.com/NaN-tic/python-aeat_sii.git#egg=pyAEATsii

# product_attachments
pillow
slug

# galatea
decorator
flask_login

# party_maps
geopy

# printer
# apt-get install libcups2-dev
pycups

# sale_edi
-e hg+ssh://hg@bitbucket.org/nantic/python-edifact#egg=edifact
oyaml
